---
import Layout from "../layouts/Layout.astro";
import content from "../content/content.json";
import Section from "../components/Section.astro";
---

<Layout title="Uciel Sola - Frotend Developer">
	<main class="flex flex-col gap-8 md:max-w-3xl">

		<h1 class="text-3xl font-bold text-cullen">
			Uciel Sola - <span class="text-buffy text-xl">Frontend Developer</span>
		</h1>

		<div class="pb-10">
			<Section
			paragraphs={content.summary.paragraphs}
			highlights={content.summary.highlights}
		/>
		</div>

		{
			content.experience.map((e) => (
				<Section
					title={e.title}
					url={e.url}
					company={e.company}
					dateLabel={e.date_label}
					paragraphs={e.paragraphs}
					highlights={e.highlights}
				/>
			))
		}
	</main>
</Layout>
